input {
	width: 90%;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px 15px;
}

input:focus {
	outline: none;
}

input.valid {
	border: 1px solid #5678f5;
}

input.valid-light {
	border: 1px solid #99adf7;
}

input.invalid {
	border: 1px solid #d4523b;
}

input.invalid-light {
	border: 1px solid #db9e93;
}

input.clicked {
	border: 1px solid #707070;
}

button {
	font-variant: small-caps;
}

#buttonSection {
	padding: 50px 12px;
}

#progressSection {
	width: 80%;
	margin: 0 auto;
	padding: 10px;
}

#progressInfo {
	font-variant: small-caps;
}
